- data = data || {};
- var pageTitle = data.title || "Welcome to the Wiki!";
- var host = data.host || "";
- var dir = '/public/js/';
- var globalCSS = (data.settings.length) ? (data.settings.filter(function(s){return s.domid=="globalcss"})[0].value || "") : "";
- var globalJs = (data.settings.length) ? (data.settings.filter(function(s){return s.domid=="globaljs"})[0].value || "") : "";

doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible",content="IE=edge")
    meta(name="viewport",content="width=device-width, initial-scale=1")

    - //Font Awesome is currently for icons being used in the RTE
    - // https://fortawesome.github.io/Font-Awesome/icons/
    link(rel='stylesheet',type='text/css',href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')

    link(rel='stylesheet',type='text/css',href='/public/css/master.css')
    link(rel='stylesheet',type='text/css',href=dir+'dependencies/bootstrap/3.3.5/css/bootstrap.css')
    link(rel='stylesheet',type='text/css',href=dir+'dependencies/jquery/ui/jquery-ui.min.css')
    link(rel='stylesheet',type='text/css',href=dir+'dependencies/jquery/ui/jquery-ui.structure.min.css')
    link(rel='stylesheet',type='text/css',href=dir+'dependencies/jquery/ui/jquery-ui.theme.min.css')


    script(type='text/javascript').
      LOCAL_DATA=!{JSON.stringify(data.external||{})}

    - //custom styles from admin settings
    style!= globalCSS

    script(src=dir+'dependencies/underscore/underscore-1.7.0__dev.js')
    script(src=dir+'dependencies/socket.io/socket.io-1.3.5.js')
    script(src=dir+'dependencies/jquery/jquery-1.11.0.js')
    script(src=dir+'dependencies/jquery/ui/jquery-ui.min.js')
    script(src=dir+'dependencies/angularjs/1.5.9/angular.min.js')
    script(src=dir+'dependencies/bootstrap/3.3.5/js/bootstrap.min.js')
    script(src=dir+'dependencies/boostrap-wysiwyg/jquery.hotkeys.js')
    script(src=dir+'dependencies/boostrap-wysiwyg/boostrap-wysiwyg.js')
    script(src=dir+'dependencies/es6-promise-polyfill/promise.min.js')
    script(src=dir+'dependencies/chart.js/Chart.bundle.min.js')
    script(src=dir+'dependencies/diff_match_patch/diff_match_patch_uncompressed.js')

    script(src=dir+"dependencies/ng-file-upload.min_v12.js")
    script(src=dir+"dependencies/Core.js")

    script(src=dir+'app.min.extras.js')
    script(src=dir+'app.min.js')

    title= pageTitle
  body(data-ng-app="Euphoriwiki",data-ng-controller="globalCtrl",data-ng-cloak)
    div.container-fluid
      div.main-header-wrapper(data-ng-hide="hideAllOfHeader")
        include ./header.jade

        div#global-error-wrapper(style="display:none")
          alert(type="danger",class="separate-vert-large h3 text-center",data-ng-show="global.error")
            span(class="glyphicon glyphicon-warning-sign")
            span {{ global.error }}
            span(class="glyphicon glyphicon-warning-sign")

        - if (!data.session.loggedIn)
          div(class="row")
            include include_login.jade


      - //main entry point for any views that
      - //use layout as its primary page
      block main



    - //custom Javascript from admin settings
    script!= globalJs
